<h1>Список подписок</h1>
<% if @subscribed %>
  <div class="jumbotron text-center">
	  <h2>Подписка оформлена</h2>
      <h3>Время окончания действия: 
        <%= @subscribed.strftime("%d.%m.%Y %H:%M") %>
      </h3>
  </div>

<% else %>

  <% @subscriptions.each do |subscription| %>

  <div class="jumbotron text-center">
      <h2><%= subscription.subtype %></h2>
    	<h3><%= subscription.price.round.to_s + ' BM' %></h3> 
    	<%= link_to content_tag(:button, "Оформить подписку", class: "btn btn-default btn-lg"), subscription, data: { confirm: 'Вы уверены, что хотите купить эту подписку? ' } %>
    
  </div>

  <% end %>

<% end %>